* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #efefef;
  font: normal 16px/150% "Lato", sans-serif;
}

h1 {
  font-weight: 100;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-weight: normal;
}


.button {
  padding: 10px 20px;
  color: white;
  border: 1px solid #fff;
  border-radius: 20px;
}

.button:hover,
.active {
  background: white;
  color: #333;
  transition: color 0.8s ease-in;
}

.section-title {
  font-weight: 300;
  text-align: center;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 2px #999;
}

header {
  padding: 0 20px;
  overflow: hidden;
  background: royalblue;
  color: white;
}

.header-top {
  overflow: hidden;
  clear: both;
}

.header-logo {
  float: left;
  display: inline-block;
  padding: 10px;
  font-family: "Exo", sans-serif;
}

.header-logo span {
  color: lightgray;
}

.header-logo:hover {
  cursor: pointer;
}


.header-nav {
  float: right;
  margin-top: 30px;
}

.header-nav a {
  padding: 10px;
  color: white;
}

.header-slogan {
  display: table;
  margin: 50px auto 60px auto;
}

.header-slogan h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.header-slogan h1 span {
  display: block;
  font-weight: 300;
  margin-top: 20px;
}

.header-buttons {
  width: 70%;
  text-align: center;
  margin: 0 auto 110px  auto;
}

.header-buttons .button {
  margin-right: 10px;
}

.header-buttons .button:last-child {
  margin-right: 0;
}

#about-me {
  max-width: 600px;
  width: 100%;
  margin: 70px auto;
  overflow: hidden;
  text-align: center;
}

.about-image {
  max-width: 30%:
  margin: 0 auto;
}

.about-image img {
  display: block;
  margin: 30px auto 0 auto;
  width: 25%;
  border-radius: 50%;
}

.about-paragraph {
  margin-top: 25px;
  text-align: center;
  color: #999;
}

.about-paragraph span {
  display: block;
  margin-top: 5px;
  color: #333;
  font-weight: 400;
}


#technologies,
#projects {
  padding: 70px 10px;
}

#technologies {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-around;
}

.column {
  max-width: 30%;
  width: 100%;
}

.column img {
  width: 105px;
  height: 105px;
  max-width: 30%;
}

.column p {
  color: #999;
}

#projects {
  text-align: center;
  overflow: hidden;
}

.projects-desc {
  font-size: 16px;
  color: #333;
}

.project-preview {
  max-width: 46%;
  float: left;
  margin: 2%;
}

.project-preview img {
  width: 100%;
  border: 1px solid #fff;
  box-shadow: 0 0 10px #999;
  opacity: 0.5;
}

.project-preview img:hover {
  opacity: 1;
  transition: all 0.5s linear;
}

.os-projects {
  margin: 30px auto 0 auto;
  max-width: 420px;
}

.os-projects li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.os-projects li:last-child {
  border: none;
}

#contact {
  padding: 70px 40px;
  overflow: hidden;
  clear: both;
  text-align: center;
}

.contact-icons {
  max-width: 270px;
  width: 100%;
  margin: 30px auto 20px auto;
  overflow: hidden;
}


.contact-button {
  display: table;
  float: left;
  padding: 10px 25px;
  margin: 0 6px;
  border: 1px solid royalblue;
  border-radius: 20px;
  text-decoration: none;
  color: royalblue;
}


.icon {
  display: table-cell;
  vertical-align: middle;
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.contact-button span {
  float: right;
  margin: 0 0 0 5px;
}


footer {
  width: 100%;
  margin-top: 20px;
  padding: 5px 10px;
  background: #666;
  color: #fff;
  text-align: center;
}


@media(max-width: 768px) {
  .about-paragraph {
    padding: 0 20px;
  }

  .row {
    flex: 1;
    flex-direction: column;
  }

  .column {
    max-width: 70%;
    margin: 0 auto;
  }

@media(max-width: 568px) {
  
  body {
    font-size: 12px;
  }
  
  .project-preview {
    float: none;
    max-width: 100%;
  }

  .icon {
    margin-top: -2px;
  }

}

@media(max-width: 320px) {
  body {
    font-size: 11px;
  }
}
