---
layout: default
title: Blog | Marco Roganovic
---

<div class="blog-intro">
  <h1>
    <img src="/images/pen.svg" />
    Recent posts
    </h1>
    <em>&quot;Writing is nature's way of telling us how lousy our thinking
    is.&quot;</em>
  <p>&mdash; Leslie Lamport</p>
</div>

<!-- Blog intro end -->

<div class="blog-posts">

  {% for post in site.posts %}
    {% assign post_modulo = forloop.index | modulo: 2 %}
    {% if post_modulo == 0 %}
    <div class="blog-post-container">
    {% else %}
    <div class="blog-post-container bg-alternate">
    {% endif %}
      <div class="blog-post-meta">
        <date><small>{{ post.date }}</small></date>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt }}</p>
        <div class="blog-post-separator"></div>
      </div>
    </div>
  {% endfor %}

</div>

<!-- Blog posts end -->

<div class="blog-pagination bg-alternate">
  <ul>
    <li><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li><a href="">5</a></li>
  </ul>
</div>
