---
layout: default
---

<div class="blog-post-meta-info">
  <h1>
    <img src="/images/pen.svg" />
    {{ page.title }}
  </h1>

  <p>
    {{ page.date | date: '%b %d, %Y' }} | 
    {{ page.content | number_of_words | divided_by: 180 }} Minute Read
  </p>
</div>

<!-- blog-intro-meta end -->

<div class="border-separator">
  <div class="separator-left"></div>
  <div class="separator-right"></div>
</div>

<div class="blog-post-desc bg-alternate">
  <p>{{ page.description }}</p>
</div>

<div class="border-separator">
  <div class="separator-left-inverted"></div>
  <div class="separator-right-inverted"></div>
</div>

<!-- blog post desc end -->

<div class="blog-post-content">
  {{ content }}
</div>

{% if page.previous.url or page.next.url %}
<div class="blog-post-links bg-alternate">

  <div class="previous-post">
  {% if page.previous.url %}
    <a href="{{ page.previous.url }}">&larr; Previous post</a>
  {% endif %}
  </div>

  <div class="next-post">
  {% if page.next.url %}
    <a href="{{ page.next.url }}">Next post &rarr;</a> 
  {% endif %}
  </div>

</div>
{% endif %}
